<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ponyatov.Perspective"
            icon="icons/alt_window_16.gif"
            id="org.eclipse.ponyatov.perspective"
            name="Ponyatov">
      </perspective>
   </extension>

</plugin>
